__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
recordings/*
!recordings/.gitkeep
uploads/*
!uploads/.gitkeep
processed/*
!processed/.gitkeep
data/*
!data/.gitkeep
.env
.DS_Store

scratch/
*.exe
recordings/
processed/
uploads/
